@import '../../../App.scss';

@media (max-width: 24.5625rem) {
  .navigation-banners.navigation-banners-mobile {
    width: 100%;
    background: #FFFFFF;
    margin-top: -4rem; 
  }

  .navigation-banners.navigation-banners-mobile .navigation-banners-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
  }

  .navigation-banners.navigation-banners-mobile .banner-pequeno {
    width: 100%;
    height: 14.0625rem;
    object-fit: cover;
  }

  .navigation-banners.navigation-banners-mobile .banner-grande {
    width: 100%;
    height: 30.625rem;
    object-fit: cover;
  }
}