* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #1D1D1D;
  background: #FFFFFF;
  padding-top: calc(2.44rem + 3.44rem);
}

.app {
  min-height: 100vh;
}

@media (max-width: 48rem) {
  body {
    padding-top: calc(2rem + 3.44rem);
  }
}