.navigation-banners {
  width: 100%;
  height: 43.75rem;
  margin-top: -10rem;
  background: #FFFFFF;
}

.navigation-banners-container {
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 57rem 32rem;
  gap: 1rem;
  height: 100%;
}

.banner-grande {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}

.banner-pequeno {
  width: 101.5%;
  height: 35rem;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}

@media (max-width: 48rem) {
  .navigation-banners {
    height: auto;
    margin-top: 0;
  }

  .navigation-banners-container {
    grid-template-columns: 1fr;
    padding: 0 2rem;
    gap: 1rem;
  }

  .banner-grande {
    height: auto;
  }

  .banner-pequeno {
    height: auto;
  }
}